{% load static %}
<footer class="fixed bottom-0 left-0 w-full bg-black shadow m-4" style="background-color: black;">
    <div class="mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 text-white">© 2024 <a href="https://flowbite.com/" class="hover:underline text-white">VoidWomb</a>. All Rights Reserved.</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 gap-4">
            <li>
                <a href="https://www.instagram.com/voidwomb_band" class="hover:underline"><img src="../../static/src/img/instagram.png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/Voidwombband" class="hover:underline"><img src="../../static/src/img/facebook (1).png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://open.spotify.com/intl-pt/artist/3MicrcV6nGFpSrQeSNPtCE?autoplay=true" class="hover:underline"><img src="../../static/src/img/spotify-logo.png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://voidwomb.bandcamp.com/album/altars-of-cosmic-devotion-2" class="hover:underline"><img src="../../static/src/img/bandcamp.png" alt="" class="w-8 h-8 filter invert"></a>
            </li>
        </ul>
    </div>
</footer>
