{% load static %}
<footer class="bg-black text-white shadow-md p-4 mt-auto">
    <div class="mx-auto max-w-screen-xl flex flex-col md:flex-row justify-between items-center">
        <span class="text-sm sm:text-center">© 2024 <a href="https://flowbite.com/" class="hover:underline">VoidWomb</a>. All Rights Reserved.</span>
        <ul class="flex flex-wrap items-center mt-3 sm:mt-0 gap-4 text-sm">
            <li>
                <a href="https://www.instagram.com/voidwomb_band" class="hover:underline"><img src="../../static/src/img/instagram.png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/Voidwombband" class="hover:underline"><img src="../../static/src/img/facebook (1).png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://open.spotify.com/intl-pt/artist/3MicrcV6nGFpSrQeSNPtCE?autoplay=true" class="hover:underline"><img src="../../static/src/img/spotify-logo.png" alt="" class="w-6 h-6 filter invert"></a>
            </li>
            <li>
                <a href="https://voidwomb.bandcamp.com/album/altars-of-cosmic-devotion-2" class="hover:underline"><img src="../../static/src/img/bandcamp.png" alt="" class="w-8 h-8 filter invert"></a>
            </li>
        </ul>
    </div>
</footer>


