{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Voidwomb</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
    {% endcompress %}

</head>

<body >
    {%include 'nav_footer/nav.html'%}
    <div class="sticky w-full h-screen z-0" style="filter: blur(8px);line-height: 0;"> <!-- corrigir mais tarde-->
        <img src="static/src/img/Voidwomb-foto.jpg" alt="Background" class="w-full h-full object-cover" style="margin: 0; padding: 0; border: none;"><!-- corrigir mais tarde-->
    </div>
    <div class="container relative mx-auto mt-4">
        
        {% block content %}

        {% endblock content %}       
    </div>
    {%include 'nav_footer/footer.html'%}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</html>