{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="bg-gray-100" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="container mx-auto mt-10">
    <div class="flex shadow-md my-10 border border-white border-2">

      <!-- Shopping cart section -->
      <div class="w-1/2 px-10 py-10 border-white" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl mt-4 ml-2 mr-2 text-white">Shopping Cart</h1>
          <h2 class="font-semibold text-xl mt-5 text-white">{{ cart_items_count }} Items</h2>
        </div>
        <a href="{% url 'store' %}" class="flex font-semibold text-indigo-600 text-sm mt-4 ml-2 text-white">
          Continue Shopping
        </a>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg text-white">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 text-white">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 text-white" style="background-color: rgba(0, 0, 0, 0.5);">
              <tr>
                <th scope="col" class="px-16 py-3 text-white">
                  <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3 text-white">
                  Product
                </th>
                <th scope="col" class="px-6 py-3 text-white">
                  Quantity
                </th>
                <th scope="col" class="px-6 py-3 text-white">
                  Price
                </th>
                <th scope="col" class="px-6 py-3 text-white">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for product in itens_carrinho %}
                <!-- Product rows -->
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-white" style="background-color: rgba(0, 0, 0, 0.5);">
                  <td class="p-4">
                      <img src="{{product.produto.imagem.url}}" class="text-white w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                  </td>
                  <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white text-white">
                      {{product.produto.nome}}
                  </td>
                  <td class="px-6 py-4 text-white">
                      <div class="flex items-center text-white">
                          <a href="{% url 'remover_do_carrinho' product.produto.id %}">
                            <button class="text-white inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button" style="background-color: rgba(0, 0, 0, 0.5);">
                                <span class="sr-only text-white">Quantity button</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                </svg>
                            </button>
                          </a>
                          <div>
                              <input type="number" id="first_product" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-white" placeholder="{{product.quantidade}}" required />
                          </div>
                          <a href="{% url 'adicionar_dentro_carrinho' product.produto.id %}">
                            <button class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 text-white" type="button" style="background-color: rgba(0, 0, 0, 0.5);">
                                <span class="sr-only text-white">Quantity button</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                </svg>
                            </button>
                          </a>
                      </div>
                  </td>
                  <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white text-white">
                      {{product.produto.preco}}€
                  </td>
                  <td class="px-6 py-4 text-white">
                      <a href="{%url 'remover_do_carrinho' product.produto_id %}" class="text-red font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>  
       
      </div>

      <!-- Checkout section -->
      <div class="w-1/2 px-8 py-10" style="background-color: rgba(0, 0, 0, 0.5);">
        
        <h1 class="font-semibold text-2xl border-b pb-8 mt-4 text-white">Checkout</h1>
        
        <!-- Customer Information -->
        <div>
          <label for="customer-name" class="text-white font-medium inline-block mb-3 text-sm uppercase">Name</label>
          <input required type="text" id="customer-name" placeholder="Your Name" class="p-2 text-sm w-full">

          <label for="email" class="text-white font-medium inline-block mb-3 text-sm">E-mail</label>
          <input required type="email" id="email" placeholder="Your E-mail" class="p-2 text-sm w-full">

          <label for="address" class="text-white font-medium inline-block mb-3 text-sm uppercase mt-4">Address</label>
          <input required type="text" id="address" placeholder="Your Address" class="p-2 text-sm w-full">
          
          <label for="postal-code" class="text-white font-medium inline-block mb-3 text-sm uppercase mt-4">Postal Code</label>
          <input required type="text" id="postal-code" placeholder="Your Postal Code" class="p-2 text-sm w-full">
          
          <label for="city" class="text-white font-medium inline-block mb-3 text-sm uppercase mt-4">City</label>
          <input required type="text" id="city" placeholder="Your City" class="p-2 text-sm w-full">
        </div>

        <!-- Shipping section -->
        <div class="mt-4 text-white">
          <label class="text-white font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
          <select id="country-selector" class="text-black block p-2 text-gray-600 w-full text-sm">
            <option required selected disabled>Select your country</option>
            {% for country in countrys %}
            <option value="{{country.acronimo}}">{{country.name}}</option>
            {% endfor %}
          </select>
        </div>
        
        <!-- Promo code section -->
        <div class="py-10 text-white">
          <label for="promo" class="text-white font-semibold inline-block mb-3 text-sm uppercase mt-4">Promo Code</label>
          <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
        </div>
        <button class="text-white bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase mt-4">Apply</button>
        
        <div class="border-t mt-8 text-white">
          <div class="text-white flex font-semibold justify-between py-6 text-sm uppercase">
            <span>Total</span>
            <span id="total">{{ total }}€</span>
          </div>
          <div class="text-white flex font-semibold justify-between py-6 text-sm uppercase">
            <span>With shipping</span>
            <span id="total_com_envio">{{ total }}€</span>
          </div>
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <script>
  document.addEventListener('DOMContentLoaded', function() {
    const countrySelector = document.getElementById('country-selector');
    const totalElement = document.getElementById('total'); // Supondo que você tenha um elemento com ID 'total'
    const totalBase = parseFloat(totalElement.textContent); // Supondo que 'totalElement' contenha apenas o número
    const ueCountries = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']; // Adicione todos os códigos dos países da UE
  
    countrySelector.addEventListener('change', function() {
      let shippingCost;
      if (this.value === 'PT') {
        shippingCost = 2.5;
      } else if (this.value === 'US') {
        shippingCost = 5.7;
      } else if (ueCountries.includes(this.value)) {
        shippingCost = 4.0; // Supondo que este seja o valor para países da UE
      } else {
        shippingCost = 6.5;
      }
  
      // Calcula o novo total
      const newTotal = totalBase + shippingCost;
  
      // Atualiza o total na página
      document.getElementById('total_com_envio').textContent = `${newTotal.toFixed(2)}€`;
    });
});
  paypal.Buttons({
    style: {
      layout: 'vertical',
      color: 'blue',
      shape: 'rect',
      label: 'paypal'
    },
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01' // Usa o total atualizado para a transação.
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transação concluída por ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  </script>
  
 
   {% endcomment %}

   <script src="https://www.paypal.com/sdk/js?client-id=AZIqzSlWW4eLADMUgxN-i-OmL-hjkDKSonPLz3t6cEyJSsaakgDeV_U5ZUQRIoKuClyuN6bJKkCJN0qD&currency=EUR"></script>
   <script>
    document.addEventListener('DOMContentLoaded', function() {
      const countrySelector = document.getElementById('country-selector');
      const totalElement = document.getElementById('total_com_envio'); // Use 'total_com_envio' para refletir o total com envio
      let totalBase = parseFloat(totalElement.textContent); // Supondo que 'totalElement' contenha apenas o número
    
      const ueCountries = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']; // Adicione todos os códigos dos países da UE
      
      countrySelector.addEventListener('change', function() {
        let shippingCost;
        if (this.value === 'PT') {
          shippingCost = 2.5;
        } else if (this.value === 'US') {
          shippingCost = 5.7;
        } else if (ueCountries.includes(this.value)) {
          shippingCost = 4.0; // Supondo que este seja o valor para países da UE
        } else {
          shippingCost = 6.5;
        }
    
        // Calcula o novo total
        const newTotal = totalBase + shippingCost;
    
        // Atualiza o texto do total na página
        totalElement.textContent = `${newTotal.toFixed(2)}€`;
    
        // Re-renderiza o botão do PayPal com o novo total
        renderPayPalButton(newTotal.toFixed(2));
      });
    
      // Função para re-renderizar o botão do PayPal com o valor atualizado
      function renderPayPalButton(newTotal) {
        if (window.paypal) {
          // Limpa o container do botão para preparar para nova renderização
          document.getElementById('paypal-button-container').innerHTML = '';
          paypal.Buttons({
            style: {
              layout: 'vertical',
              color: 'blue',
              shape: 'rect',
              label: 'paypal'
            },
            createOrder: function(data, actions) {
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: newTotal // Usa o novo total para a transação
                  }
                }]
              });
            },
            onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {
                alert('Transação concluída por ' + details.payer.name.given_name);
              });
            }
          }).render('#paypal-button-container');
        }
      }
    
      // Inicializa o botão do PayPal com o total base na carga da página
      renderPayPalButton(totalBase.toFixed(2));
    });
    </script>
    
    
{% endblock %}
