{% extends "_base.html" %}
{% block conteudo %}
<form method="POST" enctype="multipart/form-data">
  <h2>Import Excel</h2>
  {% csrf_token %}
  <input type="file" name="excel_file">
  <button type="submit">Upload</button>
</form>
<table>
  <tr>
    <th>Nome</th>
    <th>Acrônimo</th>
    <th>Ações</th>
  </tr>
  {% for pais in paises %}
  <tr>
    <td>{{ pais.nome }}</td>
    <td>{{ pais.acronimo }}</td>
    <td>
      <a href="{% url 'editar_pais' pais.id %}">Editar</a>
      <a href="{% url 'excluir_pais' pais.id %}" onclick="return confirm('Tem certeza?');">Excluir</a>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{%url 'adicionar_paises'%}">Adicionar</a>
{% endblock %}
