{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="flex flex-col justify-center items-center w-full h-full">
    <img src="{% static "src/img/vo.jpg" %}" alt="Background" class="w-1/2 h-1/2 object-cover mb-4">

    <div class="w-1/2 bg-black text-white p-4" style="background-color: black;">
        <p class="text-white">Stemming from Viana do Castelo, Portugal, the black/death metal of Vøidwomb was created to give expression to the ideas of M.S.Void (vocals) and blood brothers Noctvs (drums) and F.S (bass). The latter invited Lord (guitar) to join them. After a single rehearsal, they felt the need to give more substance to the band's sound, and Fractal (guitar) joined to complete the circle.

            The first creation was the EP "Altars of Cosmic Devotion". With a flow somewhere between serpentine and martial, with its patient and precise obsidian pulse, but never sterile, the quintet avoids much of the sloppiness and lack of rigor of current black/death through an abundance of riffs that hark back to the early 90s, specifically the classic Morrisound recordings.
        </p>
    </div>
</div>




    
    
    



{%endblock content%}