{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="flex flex-col justify-center items-center w-full h-full">
    <img src="{% static 'src/img/Voidwomb-band-signing.jpg'%}" alt="Background" class="w-1/2 h-1/2 object-cover mb-4">

    <div class="w-1/2 bg-black text-white p-4" style="background-color: black;">
        <p class="text-white">At the dawn of 2019, Vøidwomb was born in the north of the country. With a strong commitment to practicing an extreme sound with our own identity, we released our debut EP “Altars of Cosmic Devotion” in 2021 on the renowned German label Iron Bonehead, arousing some curiosity even internationally.
            Darkness and mesmerizing melodies characterize our sound, which meanders somewhere between black and death metal, occasionally floating in more doomy landscapes.
            We were recently announced as one of the new acquisitions of the historic Italian label Avantgarde Music, hinting that a new and ambitious period lies ahead for us. After three years in the shades, we are back to the light with our first full-length album, which will be released via Avantgarde Music on April 26th.
        </p>
    </div>
</div>




    
    
    



{%endblock content%}