{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="bg-gray-100 text-white" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="bg-transparent rounded-lg mx-auto max-w-2xl">
      <header class="bg-transparent p-4">
          <div class="container mx-auto">
              <h1 class="text-3xl font-bold text-center">Spiritual Apotheosis</h1>
          </div>
      </header>

      <main class="container mx-auto mt-8">
          <section class="mt-8 md:mt-0 md:ml-8">
              <div class="mb-8 flex justify-center">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/EwgyST8ZYFI?si=V-vtAvQ5XRpvb3T9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
            <div class="container mx-auto flex justify-between items-center">
  <div class="w-full md:w-1/2 px-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Tracklist</h2>
    <ul class="mx-auto text-center">
      <li class="mb-4">
        <h3 class="text-xl font-bold">1. Exordium (intro)</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">2. Metempsychosis</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">3. Black Putrescense</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">4. Liberation (Cathartic Ascension - Part I)</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">5. Interludium</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">6. Vesselvoid</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">7. Azoth</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">8. Coagulation (Cathartic Ascension - Part II)</h3>
      </li>
      <li class="mb-4">
        <h3 class="text-xl font-bold">9. Epilogue (outro)</h3>
      </li>
    </ul>
  </div>

  
</div>
<div class="mb-8 flex justify-center">
  <img src="../../Void/static/src/img/Voidwomb-foto.jpg" alt="">
</div>

      </div>
      
</div>


{% endblock content %}
