{% extends "base.html" %}
{% block content %}
{% load static %}
















<!-- <div class="grid gap-4">
    <div class="flex justify-center items-center">
        <img id="mainImage" class="h-auto w-1/2 rounded-lg" src="../static/src/img/MSR_4999.jpg" alt="">
    </div>
    <div class="grid grid-cols-5 gap-4 ml-4 mr-4" id="imageGrid">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../static/src/img/MSR_4961.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../static/src/img/MSR_4973.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../static/src/img/MSR_4976.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../static/src/img/MSR_4984.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../static/src/img/MSR_4968.jpg" alt="">
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../static/src/img/Voidwomb-foto.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../static/src/img/Voidwomb-band-signing.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg mt-5" src="../static/src/img/Voidwomb Logo.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const mainImage = document.getElementById("mainImage");
        const images = document.querySelectorAll("#imageGrid img");
        images.forEach(function (image) {
            image.addEventListener("click", function () {
                // Move a imagem clicada para a imagem principal
                mainImage.src = image.src; 
            });
        });
    });
</script> -->


<div class="bg-gray-100 text-white" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="bg-transparent rounded-lg mx-auto max-w-2xl">
        <header class="bg-transparent p-4">
          <div class="container mx-auto">
            <h1 class="text-3xl font-bold text-center">Spiritual Apotheosis</h1>
          </div>
        </header>
        
        <main class="container mx-auto mt-8">
          <section class="mt-8 md:mt-0 md:ml-8">
            <div class="mb-8 flex justify-center">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/CjPZSYWstak?si=XPhFzWUXD0oRDpZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h2 class="text-2xl font-bold mb-4 text-center">Tracklist</h2>
            <ul class="mx-auto text-center">
              <li class="mb-4">
                <h3 class="text-xl font-bold">1. Exordium (intro)</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">2. Metempsychosis</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">3. Black Putrescense</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">4. Liberation (Cathartic Ascension - Part I)</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">5. Interludium</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">6. Vesselvoid</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">7. Azoth</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">8. Coagulation (Cathartic Ascension - Part II)</h3>
              </li>
              <li class="mb-4">
                <h3 class="text-xl font-bold">9. Epilogue (outro)</h3>
              </li>
            </ul>
          </section>
        </main>
        <div class="flowbite p-8">
            <a href="https://www.sound-cave.com/en/band/voidwomb" class="block">
              <img src="../static/src/img/voidwomb-spiritual-apotheosis-preorder-1024x1024.jpg" alt="Descrição da Imagem" class="mx-auto cursor-pointer">
            </a>
          </div>
      </div>
  <script>
    // JavaScript personalizado aqui
  </script>
</div>

{% endblock content %}
