{% extends "base.html" %}
{% block content %}
{% load static %}
{% if eventos %}

<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #333;
      color: white;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  th {
      background-color: #666;
  }
  .date-column {
      width: 25%;
  }
  .event-column {
      width: 50%;
  }
  .location-column {
      width: 25%;
  }
</style>

<!-- 

<div class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4">
  {% for evento in eventos %}
  
  <div class="flex flex-col bg-gray-900 rounded-lg shadow-lg overflow-hidden">
    <a href="{{ evento.foto.url }}">
      <div class="bg-gray-900 rounded-lg shadow-lg overflow-hidden z-10 relative">
        <img class="w-full h-96 object-cover rounded-lg" src="{{ evento.foto.url }}" alt="product image" />
        <div class="p-6">
          <a href="{{evento.hiperligacao}}">
            <h5 class="text-xl font-semibold tracking-tight text-white">{{evento.titulo}}</h5>
          </a>
          <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center bg-gray-900 p-4 rounded-lg">
                <p class="text-white">{{evento.data}} at {{evento.localizacao}}</p>
            <a href="{{evento.hiperligacao}}" class="mt-3 sm:mt-0 inline-flex items-center px-4 py-2 bg-transparent text-white text-sm font-medium rounded-md hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                Read more
                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
                </svg>
            </a>
        </div>
        
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div> 
{% endif %}

<nav class="mt-4 flex justify-center" aria-label="Page navigation example">
  <ul class="flex items-center space-x-px h-10 text-base">
    {% if eventos.has_previous %}
    <li>
      <a href="?page={{ eventos.previous_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-white bg-transparent border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Previous</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
      </a>
    </li>
    {% endif %}
    {% for num in eventos.paginator.page_range %}
      {% if eventos.number == num %}
        
        <li>
          <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-700 bg-gray-300 border border-gray-300 dark:bg-gray-700 dark:border-gray-700">{{ num }}</a>
        </li>
      {% else %}
        
        <li>
          <a href="?page={{ num }}" class="flex items-center justify-center px-4 h-10 leading-tight text-white bg-transparent border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if eventos.has_next %}
    <li>
      <a href="?page={{ eventos.next_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-white bg-transparent border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">
       <span class="sr-only">Next</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

<div class="flex justify-center items-center text-4xl font-bold text-white mt-36 mb-8">
  More news soon...
</div> -->


<h2>UPCOMING EVENTS</h2>

<table>
    <tr>
        <th class="date-column">DATE</th>
        <th class="event-column">EVENT</th>
        <th class="location-column">LOCATION</th>
    </tr>
    <tr>
        <td>FRIDAY, JUNE 17, 2022</td>
        <td>METAL CAPITAL FESTIVAL 2022</td>
        <td>Oulu, FIN</td>
    </tr>
    <tr>
        <td>SATURDAY, JULY 16, 2022</td>
        <td>TURKU ROCKPARK 2022</td>
        <td>Turku, FIN</td>
    </tr>
    <!-- More rows as needed -->
</table>



{% endblock content %}
